

p {
    padding: 10px;
    background-color: black;
    font-size: large;
    color: white;
    width: fit-content;
}

.paragraph {
    background-color: blue;
    position: absolute;
    /* absolute, relative, static */
    /* top: 10px; */
}
