


button {
    background-color: green;
    padding: 30px 50px;
    border: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease-out;
    cursor: col-resize;
    font-family: 'Roboto', sans-serif;;
}

button:hover {
    background-color: rgb(13, 82, 13);
}