/* font-size , px, em, 1rem = 8px */
body{
    background-color: darkgrey;
}
p{
    color:darkgreen;
    font-size: larger;
}
img{
background-color:dimgrey;
object-fit: cover;
}
/* cover will make the img fit inside the outer container  */

.parentdiv{
    align-content: center;
}

input{
    width:200px;
    height: 50px;
    /* border-radius: 1em;
    border-color: gold;
    border-style: solid; */
    border: 10px solid gold;
}